/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-camalote-summarization-block {
	padding:1rem;
	background: #f3bdbd;
}

.wp-block-camalote-summarization-block p[data-type="core/paragraph"] {
	display:list-item;
	margin: 32px;
}